/models/navec_news_v1_1B_250K_300d_100q.tar
/models/slovnet_morph_news_v1.tar
/txt_ethalon/
/txt_articles_rl/
/txt_articles/
/notebooks/
/images_articles/
/images/
/docs/
/Articles/
/extracted_images/

/venv
/__pycache__
/.ipynb_checkpoints
/scripts/.ipynb_checkpoints
/legacy/.ipynb_checkpoints
